h1,
h2,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  background-color: gray;
}

.title {
  position: fixed;
  top: 10px;
  left: 500px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
}

img {
  height: 200px;
  transform: translateX(-40px);
  transition: transform 0.7s ease;
  opacity: 0;
  margin-top: 370px;
}

img.loaded {
  transform: translateX(0);
  opacity: 1;
}

.text {
  font-size: 20px;
  font-family: "Libre Baskerville", serif;
  opacity: 0;
  transform: translateX(-20px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.text.loaded {
  opacity: 1;
  transform: translateX(0);
}
